.chat-window {
  width: 300px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.chat-window-textarea {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  word-break: break-all;
}

.chat-window input {
  border: 1px solid #808080;
  height: 30px;
  border-radius: 5px;
  width: calc(100% - 80px);
}

.chat-window input:focus {
  border: 1px solid #000;
}

.chat-window button {
  border: 1px solid #808080;
  border-radius: 5px;
  width: 75px;
  height: 30px;
  margin-left: 5px;
}

.chat-window button:hover {
  border: 2px solid #3f51b5;
  cursor: pointer;
}
