.message-board {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.players-center {
  position: relative;
  border: 1px solid #8a8a8a;
  text-align: center;
  height: 80px;
  width: 300px;
  margin: 20px auto 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.align-top-center {
  flex: 1 0 100%;
}

.fw-600 {
  font-weight: 600;
}

.bottom-right {
  position: absolute;
  text-align: right;
  bottom: 10px;
  right: 10px;
  color: #36ac27;
  font-weight: 600;
}
